@page
@model TimeCapsule.WebUI.Pages.Identify.RegisterSuccessModel
@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "_IdentifyLayout";
}
<!DOCTYPE html>
<html>
    <head>
        <title>申请注册成功</title>
    </head>
    <body>
        <h1>申请注册成功，请注意邮箱通知</h1>
    </body>
</html>


